.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nae044b07-2d3e-4b79-b6d4-3c787e574f69 span#rtr-sc-ae044b07-2d3e-4b79-b6d4-3c787e574f69_0 {
  color: #35B736;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nae044b07-2d3e-4b79-b6d4-3c787e574f69 .scenarioDevice {
  height: 649.7653333333334px;
  width: 299.0px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nae044b07-2d3e-4b79-b6d4-3c787e574f69 .scenarioScreenThumbnail {
  height: 649.7653333333334px;
  width: 299.0px;
  background-image: url("../../resources/scenarios/screens/fb2de9f7-9ea3-4d94-b4d5-b88ce585570b.png");
  background-size: 272.81021897810217px 590.7250608272506px;
  background-position: 13.094890510948915px 29.520136253041414px;
  z-index: -1;
  clip-path: polygon(4.379562043795623% 0%, 95.62043795620437% +4.543199635105404%, 95.62043795620437% +95.4568003648946%, 4.379562043795623% +95.4568003648946%);
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nae044b07-2d3e-4b79-b6d4-3c787e574f69 {
  position: absolute;
  left: 20.0px;
  top: 648.0px;
  width: auto;
  color: #35B736;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nae044b07-2d3e-4b79-b6d4-3c787e574f69 {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t84f2daaa-7ec7-48ae-bfc7-7dfffa4a9b5f .transitionName {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t84f2daaa-7ec7-48ae-bfc7-7dfffa4a9b5f .transitionNameContainer {
  left: 436.8642241379311px;
  top: 1188.286px;
}
#t84f2daaa-7ec7-48ae-bfc7-7dfffa4a9b5f.transitionWrapper > svg > marker {
  fill: #E2202C;
}
#t84f2daaa-7ec7-48ae-bfc7-7dfffa4a9b5f.transitionWrapper > svg > polyline {
  stroke: #E2202C;
  stroke-width: 2px;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #te1719a63-547c-4128-ad5e-ef5d14a0ddf9 .transitionName {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #te1719a63-547c-4128-ad5e-ef5d14a0ddf9 .transitionNameContainer {
  left: 112.35388622694018px;
  top: 1371.6102494997926px;
}
#te1719a63-547c-4128-ad5e-ef5d14a0ddf9.transitionWrapper > svg > marker {
  fill: #E2202C;
}
#te1719a63-547c-4128-ad5e-ef5d14a0ddf9.transitionWrapper > svg > polyline {
  stroke: #E2202C;
  stroke-width: 2px;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nf79afc63-bfe2-4187-835d-b0e6356e8409 span#rtr-sc-f79afc63-bfe2-4187-835d-b0e6356e8409_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nf79afc63-bfe2-4187-835d-b0e6356e8409 .scenarioDevice {
  height: 655.2719999999999px;
  width: 301.54310344827604px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nf79afc63-bfe2-4187-835d-b0e6356e8409 .scenarioScreenThumbnail {
  height: 655.2719999999999px;
  width: 301.54310344827604px;
  background-image: url("../../resources/scenarios/screens/d12245cc-1680-458d-89dd-4f0d7fb22724.png");
  background-size: 275.130568839668px 595.7493917274943px;
  background-position: 13.206267304304049px 29.761304136252818px;
  z-index: -1;
  clip-path: polygon(4.379562043795617% 0%, 95.62043795620438% +4.541824484527466%, 95.62043795620438% +95.45817551547252%, 4.379562043795617% +95.45817551547252%);
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nf79afc63-bfe2-4187-835d-b0e6356e8409 {
  position: absolute;
  left: 658.0px;
  top: 914.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nf79afc63-bfe2-4187-835d-b0e6356e8409 {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t19c834c0-f9a7-4942-bc54-8b2c22902c10 .transitionName {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t19c834c0-f9a7-4942-bc54-8b2c22902c10 .transitionNameContainer {
  left: 606.4210630866478px;
  top: 1593.3027957845175px;
}
#t19c834c0-f9a7-4942-bc54-8b2c22902c10.transitionWrapper > svg > marker {
  fill: #E2202C;
}
#t19c834c0-f9a7-4942-bc54-8b2c22902c10.transitionWrapper > svg > polyline {
  stroke: #E2202C;
  stroke-width: 2px;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t762f6362-cc21-41a1-9f77-3222ff60094f .transitionName {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t762f6362-cc21-41a1-9f77-3222ff60094f .transitionNameContainer {
  left: 1140.250599498454px;
  top: 1260.81868098216px;
}
#t762f6362-cc21-41a1-9f77-3222ff60094f.transitionWrapper > svg > marker {
  fill: #E2202C;
}
#t762f6362-cc21-41a1-9f77-3222ff60094f.transitionWrapper > svg > polyline {
  stroke: #E2202C;
  stroke-width: 2px;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t48793b16-0c11-42c8-9218-fa8a0ffafeac .transitionName {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t48793b16-0c11-42c8-9218-fa8a0ffafeac .transitionNameContainer {
  left: 617.0448891160971px;
  top: 958.9107040462225px;
}
#t48793b16-0c11-42c8-9218-fa8a0ffafeac.transitionWrapper > svg > marker {
  fill: #E2202C;
}
#t48793b16-0c11-42c8-9218-fa8a0ffafeac.transitionWrapper > svg > polyline {
  stroke: #E2202C;
  stroke-width: 2px;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #ned31f178-7bbb-4b70-a708-03fa6eabfb19 span#rtr-sc-ed31f178-7bbb-4b70-a708-03fa6eabfb19_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #ned31f178-7bbb-4b70-a708-03fa6eabfb19 .scenarioDevice {
  height: 665.2240000000012px;
  width: 306.1391625615764px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #ned31f178-7bbb-4b70-a708-03fa6eabfb19 .scenarioScreenThumbnail {
  height: 665.2240000000012px;
  width: 306.1391625615764px;
  background-image: url("../../resources/scenarios/screens/0b1115f2-5b5c-43fe-9e93-15f114938233.png");
  background-size: 279.3240534320953px 604.829683698297px;
  background-position: 13.407554564740565px 30.19715815085209px;
  z-index: -1;
  clip-path: polygon(4.379562043795618% 0%, 95.62043795620438% +4.539396977687521%, 95.62043795620438% +95.46060302231248%, 4.379562043795618% +95.46060302231248%);
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #ned31f178-7bbb-4b70-a708-03fa6eabfb19 {
  position: absolute;
  left: 181.0px;
  top: 1442.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #ned31f178-7bbb-4b70-a708-03fa6eabfb19 {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #tadee2c1e-4907-4d7e-b7cd-3a0faba1ebab .transitionName {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #tadee2c1e-4907-4d7e-b7cd-3a0faba1ebab .transitionNameContainer {
  left: 888.1646593768482px;
  top: 1771.6358153794117px;
}
#tadee2c1e-4907-4d7e-b7cd-3a0faba1ebab.transitionWrapper > svg > marker {
  fill: #E2202C;
}
#tadee2c1e-4907-4d7e-b7cd-3a0faba1ebab.transitionWrapper > svg > polyline {
  stroke: #E2202C;
  stroke-width: 2px;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nd5ebcd94-4945-4d8f-9b25-70e5b94a591a span#rtr-sc-d5ebcd94-4945-4d8f-9b25-70e5b94a591a_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nd5ebcd94-4945-4d8f-9b25-70e5b94a591a .scenarioDevice {
  height: 791.6160000000013px;
  width: 364.5098522167491px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nd5ebcd94-4945-4d8f-9b25-70e5b94a591a .scenarioScreenThumbnail {
  height: 791.6160000000013px;
  width: 364.5098522167491px;
  background-image: url("../../resources/scenarios/screens/3a9c5124-aaf1-4743-83db-0b0d518a39f8.png");
  background-size: 332.58198194958857px 720.1508515815091px;
  background-position: 15.963935133580264px 35.73257420924614px;
  z-index: -1;
  clip-path: polygon(4.379562043795623% 0%, 95.62043795620437% +4.513877209309322%, 95.62043795620437% +95.48612279069067%, 4.379562043795623% +95.48612279069067%);
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nd5ebcd94-4945-4d8f-9b25-70e5b94a591a {
  position: absolute;
  left: 1302.0px;
  top: 1134.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #nd5ebcd94-4945-4d8f-9b25-70e5b94a591a {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t94f5f0c0-2201-4bd1-8cec-7143687b52b0 .transitionName {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t94f5f0c0-2201-4bd1-8cec-7143687b52b0 .transitionNameContainer {
  left: 1213.8470223594345px;
  top: 1987.4910980613076px;
}
#t94f5f0c0-2201-4bd1-8cec-7143687b52b0.transitionWrapper > svg > marker {
  fill: #E2202C;
}
#t94f5f0c0-2201-4bd1-8cec-7143687b52b0.transitionWrapper > svg > polyline {
  stroke: #E2202C;
  stroke-width: 2px;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n5c6b2e28-67ef-4c13-b960-f0f0fb95abb4 span#rtr-sc-5c6b2e28-67ef-4c13-b960-f0f0fb95abb4_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n5c6b2e28-67ef-4c13-b960-f0f0fb95abb4 .scenarioDevice {
  height: 743.9786666666687px;
  width: 342.5098522167492px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n5c6b2e28-67ef-4c13-b960-f0f0fb95abb4 .scenarioScreenThumbnail {
  height: 743.9786666666687px;
  width: 342.5098522167492px;
  background-image: url("../../resources/scenarios/screens/2839030a-00c2-4a76-8859-48c3e2489366.png");
  background-size: 312.50898924885877px 676.6861313868621px;
  background-position: 15.00043148394522px 33.64626763990327px;
  z-index: -1;
  clip-path: polygon(4.37956204379562% 0%, 95.62043795620437% +4.522477477835814%, 95.62043795620437% +95.47752252216418%, 4.37956204379562% +95.47752252216418%);
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n5c6b2e28-67ef-4c13-b960-f0f0fb95abb4 {
  position: absolute;
  left: 1141.0px;
  top: 1954.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n5c6b2e28-67ef-4c13-b960-f0f0fb95abb4 {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t8081f223-b38f-4a8d-b03b-1c54ce11c633 .transitionName {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t8081f223-b38f-4a8d-b03b-1c54ce11c633 .transitionNameContainer {
  left: 1487.8081437701876px;
  top: 2480.5628370213058px;
}
#t8081f223-b38f-4a8d-b03b-1c54ce11c633.transitionWrapper > svg > marker {
  fill: #E2202C;
}
#t8081f223-b38f-4a8d-b03b-1c54ce11c633.transitionWrapper > svg > polyline {
  stroke: #E2202C;
  stroke-width: 2px;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n2ac36c8b-082b-4051-b060-0cd897fa715f span#rtr-sc-2ac36c8b-082b-4051-b060-0cd897fa715f_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n2ac36c8b-082b-4051-b060-0cd897fa715f .scenarioDevice {
  height: 733.152000000001px;
  width: 337.5098522167491px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n2ac36c8b-082b-4051-b060-0cd897fa715f .scenarioScreenThumbnail {
  height: 733.152000000001px;
  width: 337.5098522167491px;
  background-image: url("../../resources/scenarios/screens/377c4397-6a65-4eac-b58b-3a7075804273.png");
  background-size: 307.94694545323824px 666.8077858880785px;
  background-position: 14.781453381755426px 33.17210705596125px;
  z-index: -1;
  clip-path: polygon(4.379562043795618% 0%, 95.62043795620437% +4.524587951197188%, 95.62043795620437% +95.4754120488028%, 4.379562043795618% +95.4754120488028%);
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n2ac36c8b-082b-4051-b060-0cd897fa715f {
  position: absolute;
  left: 1577.0px;
  top: 1954.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n2ac36c8b-082b-4051-b060-0cd897fa715f {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t62160112-d131-462e-a822-690eb07640e2 .transitionName {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #t62160112-d131-462e-a822-690eb07640e2 .transitionNameContainer {
  left: 1931.8076284941149px;
  top: 1923.5993452356358px;
}
#t62160112-d131-462e-a822-690eb07640e2.transitionWrapper > svg > marker {
  fill: #E2202C;
}
#t62160112-d131-462e-a822-690eb07640e2.transitionWrapper > svg > polyline {
  stroke: #E2202C;
  stroke-width: 2px;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n5db11eb7-fa9e-4f93-8eae-c5d49938720e span#rtr-sc-5db11eb7-fa9e-4f93-8eae-c5d49938720e_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n5db11eb7-fa9e-4f93-8eae-c5d49938720e .scenarioDevice {
  height: 801.360000000002px;
  width: 369.00985221674864px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n5db11eb7-fa9e-4f93-8eae-c5d49938720e .scenarioScreenThumbnail {
  height: 801.360000000002px;
  width: 369.00985221674864px;
  background-image: url("../../resources/scenarios/screens/1011d18b-73b4-48ba-8787-653041613177.png");
  background-size: 336.6878213656466px 729.0413625304133px;
  background-position: 16.161015425551028px 36.15931873479434px;
  z-index: -1;
  clip-path: polygon(4.379562043795619% 0%, 95.62043795620438% +4.512244027003376%, 95.62043795620438% +95.48775597299661%, 4.379562043795619% +95.48775597299661%);
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n5db11eb7-fa9e-4f93-8eae-c5d49938720e {
  position: absolute;
  left: 2130.0px;
  top: 1408.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n5db11eb7-fa9e-4f93-8eae-c5d49938720e {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n9d9a9e85-1c89-484b-96ca-3e62e2da9359 span#rtr-sc-9d9a9e85-1c89-484b-96ca-3e62e2da9359_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n9d9a9e85-1c89-484b-96ca-3e62e2da9359 .scenarioDevice {
  height: 772.1279999999974px;
  width: 355.5098522167491px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n9d9a9e85-1c89-484b-96ca-3e62e2da9359 .scenarioScreenThumbnail {
  height: 772.1279999999974px;
  width: 355.5098522167491px;
  background-image: url("../../resources/scenarios/screens/e33a8940-b859-4285-8bdd-f16a65d96d0c.png");
  background-size: 333.0201778672711px 711.0197044334981px;
  background-position: 15.569774549638652px 34.87908515814922px;
  z-index: -1;
  clip-path: polygon(4.379562043795622% 0%, 95.62043795620438% +4.517267235244589%, 95.62043795620438% +95.48273276475541%, 4.379562043795622% +95.48273276475541%);
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n9d9a9e85-1c89-484b-96ca-3e62e2da9359 {
  position: absolute;
  left: 1246.0px;
  top: 0.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n9d9a9e85-1c89-484b-96ca-3e62e2da9359 {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #tbdbbf35c-8563-49a2-a9ed-83bc7d0a2e47 .transitionName {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #tbdbbf35c-8563-49a2-a9ed-83bc7d0a2e47 .transitionNameContainer {
  left: 1080.8205405345652px;
  top: 942.0860899416896px;
}
#tbdbbf35c-8563-49a2-a9ed-83bc7d0a2e47.transitionWrapper > svg > marker {
  fill: #E2202C;
}
#tbdbbf35c-8563-49a2-a9ed-83bc7d0a2e47.transitionWrapper > svg > polyline {
  stroke: #E2202C;
  stroke-width: 2px;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n332912b7-a299-4039-a0cb-832bc791d36a span#rtr-sc-332912b7-a299-4039-a0cb-832bc791d36a_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n332912b7-a299-4039-a0cb-832bc791d36a .scenarioDevice {
  height: 815.4346666666675px;
  width: 375.50985221674864px;
  background-image: url("../../resources/jim/images/mobile/devices/iphonex@2x.png");
  background-size: contain;
  background-position: center;
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n332912b7-a299-4039-a0cb-832bc791d36a .scenarioScreenThumbnail {
  height: 815.4346666666675px;
  width: 375.50985221674864px;
  background-image: url("../../resources/scenarios/screens/2be68bf3-b7df-415f-817d-8c325ae8fd78.png");
  background-size: 342.61847829995327px 741.8832116788319px;
  background-position: 16.445686958397744px 36.77572749391777px;
  z-index: -1;
  clip-path: polygon(4.379562043795619% 0%, 95.62043795620438% +4.509953892964783%, 95.62043795620438% +95.49004610703523%, 4.379562043795619% +95.49004610703523%);
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n332912b7-a299-4039-a0cb-832bc791d36a {
  position: absolute;
  left: 504.9999999999998px;
  top: 0.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #n332912b7-a299-4039-a0cb-832bc791d36a {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #tbe406762-d65d-4bab-b031-f79531552487 .transitionName {
}
.sc-9e37e4e8-b4f9-4dba-8a7a-238032fb6a76 #tbe406762-d65d-4bab-b031-f79531552487 .transitionNameContainer {
  left: 1056.6150350762923px;
  top: 493.9395506118599px;
}
#tbe406762-d65d-4bab-b031-f79531552487.transitionWrapper > svg > marker {
  fill: #E2202C;
}
#tbe406762-d65d-4bab-b031-f79531552487.transitionWrapper > svg > polyline {
  stroke: #E2202C;
  stroke-width: 2px;
}
#scenarioWrapper {
  width: 2501.0098522167486px;
  height: 2716.9786666666687px;
}